<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.dao.YlwDao">

 <select id="getAlgorithm_Ylw" parameterType="int" resultType="map">
	select * from(
		select * from T_ALGORITHM_MAIN where is_trans='0' and flag_algorithm='2' and status='3')
	 <![CDATA[where rownum<= #{num}]]>
</select>

<select id="getRemnant" parameterType="String" resultType="map">
	select * from T_REMNANT where is_trans='0' and main_id=#{main_id}
</select>

<select id="getRemnant_Sp" parameterType="String" resultType="map">
	select * from T_REMNANT_VIDEO where is_trans='0' and main_id=#{main_id}
</select>

<select id="getNumsForRemnant" resultType="map">
	select * from front_machine where uuid='3'
</select>

<update id="updateRemnant" parameterType="String">
    update T_REMNANT set is_trans='1' where uuid=#{ylwid}
</update>

<update id="updateRemnant_video" parameterType="String">
    update T_REMNANT_VIDEO set is_trans='1' where obj_id=#{ylwspid}
</update>

</mapper>